<h2>Add a celebrity!</h2>

<form method="post" action="/celebrities">

<label for="celeb-name-input">Name:</label>
<input id="celeb-name-input" type="text" name="celebrityName">
<br>

<label for="celeb-occupation-input">Occupation:</label>
<input id="celeb-occupation-input" type="text" name="celebrityOccupation">
<br>

<label for="celeb-phrase-input">Catch Phrase:</label>
<textarea id="celeb-phrase-input" type="text" name="celebrityCatchPhrase">
</textarea>
<br>

<button type="submit" name="button"> Add Celebrity!</button>

</form>

<a href="/">Back to Home</a>
<a href="/celebrities">Celebs A-Z</a>
