<h2>Everything you need to know about
" <%= celebDetails.name %> "
</h2>


<h4>Name:</h4>
<p> <%= celebDetails.name %> </p>
<br>

<h4>Occupation:</h4>
<p> <%= celebDetails.occupation %> </p>
<br>

<h4>What you know them for saying!</h4>
<p> <%=celebDetails.catchPhase %> </p>


<br>
<br>
<br>
<a href="/">Back to Home</a>
<a href="/celebrities">Celebs A-Z</a>
<a href="/celebrity-views/new"> Add a Celeb </a>
